
.dark-toast{
  background: #323232;
  color: #fff;
}

.green-toast{
  background: #4CAF50;
  color: #fff;
}


.input-info{
  margin: 0 10px;
}

#card-wrapper {
  overflow: hidden;
}

a {
  color: white;
}

a :hover {
  color: black;
}

tr {
  margin: 0;
  padding: 0;
}

td {
  margin: 0;
  padding: 5px;
}

.collapsible-body {
  padding: 5px 10px;
}