.center {
    text-align: center;
    vertical-align: middle;
}

.promo {
    width: 100%;
}

.promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.light, .page-footer .footer-copyright {
    font-weight: 300;
}

.icon{
    margin: 40px 0;
    color: #ee6e73;
    font-size: 7rem;
    text-align: center;
    display: block;
}